<div class="container">
    <header>
      <h1>Recommended Movies</h1>
    </header>
  
    <div class="movies-carousel">
      <!-- <button class="nav-btn prev" (click)="scrollCarousel('left')">
        <i class="fas fa-chevron-left"></i>
      </button> -->
  
      <div class="movies-container">
        <div class="movie-card" *ngFor="let movie of movies" (click)="goToDetails(movie.id)">
          <div class="movie-poster">
            <img [src]="movie.poster" [alt]="movie.title" />
            <div class="movie-rating">{{ movie.certificate }}</div>
          </div>
          <div class="movie-info">
            <div class="movie-title">{{ movie.title }}</div>
            <div class="movie-genre">{{ movie.genre }}</div>
            <div class="movie-stats">
              <div class="likes">👍 <span>{{ movie.likes }}</span></div>
              <div class="votes">⭐ <span>{{ movie.rating }}</span></div>
            </div>
            <div class="action-buttons">
              <button class="watch-btn">Watch Now</button>
              <button class="action-btn">
                <i class="far fa-bookmark"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- <button class="nav-btn next" (click)="scrollCarousel('right')">
        <i class="fas fa-chevron-right"></i>
      </button> -->
    </div>
  </div>
  

<!--  -->

   <!-- <div class="movie-card" *ngFor="let movie of movies" (click)="goToDetails(movie.id)">
    <div class="movie-poster">
      <img [src]="movie.poster" [alt]="movie.title" />
      <div class="movie-rating">{{ movie.certificate }}</div>
    </div>
    <div class="movie-info">
      <div class="movie-title">{{ movie.title }}</div>
      <div class="movie-genre">{{ movie.genre }}</div>
      <div class="movie-stats">
        <div class="likes">👍 <span>{{ movie.likes }}</span></div>
        <div class="votes">⭐ <span>{{ movie.rating }}</span></div>
      </div>
    </div>
  </div> -->
  <router-outlet></router-outlet>